body,
html {
    color: #CCC;
    background-color: teal;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
}

body {
    background-color: #50B;
    border: white 1px solid;
}

a{
    color: #CCC;
}

a:hover{
    color: white;
}

.header,
.action,
.inventory,
.footer {
    border-top: #CCC 2px solid;
}

input{
    margin: 15px;
    line-height: 30px;
    color: black;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
button{
    color: black;
    padding: 10px;
    margin-bottom: 20px;
}

li {
    padding: 8px;
    color: white;
}

li:hover {
    background-color: rgba(200,200,200,.5);
}

h1 {
    font-size: 40px;
    padding: 10px;
}

h2 {
    font-size: 30px;
    margin-top: 30px;
    line-height: 40px;
    background-color: #50B;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 15px;
}

.row {
    flex-flow: column nowrap;
    width: 100%;
}

.header {
    height: 10%;
}
.header img{
    height: 150px;
}

.liveFeed {
    height: 30px;
    line-height: 30px;
    color: black;
    background-color: #2980b9;
    overflow: scroll;
}

.inventory {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 208px;
    width: 800px;
    background-color: midnightblue;
}

.InventoryText {
    width: 100%;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
}

.item {
    height: 60px;
    width: 60px;
}

.action {
    height: 205px;
    width: 100%;
    background-color: black;
}

img {
    height: 200px;
}

.itemPic {
    height: 56px;
    width: 56px;
    border: 2px solid white;
}

.footer {
    line-height: 35px;
    background-color: #50B;
    width: 100%;
    justify-content: center;
    color: #CCC;
}
.footer a{
    color: white;
}